.entfooter{
    background-color: rgb(58, 12, 101);
    color:beige;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.header{
    margin:10px 10px;
    padding: 10px 10px;
}

.footheader{
    font-weight: bold;
    line-height:35px;
}

